<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fargo Service</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="shortcut icon" href="#">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
    <div id="outer">
        {% block circles %}

        {% endblock %}
    <div id="link004">
        <footer class="footer" id="contact">
            <div class="container">
                <div class="footer-menu">
                    <h4>Навигация</h4>
                    <ul>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Работа в ЕС</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer-contact">
                    <h4>Юридическая информация</h4>
                    <p>NIP 6793188526</p>
                    <p>REGON:384159160</p>
                    <p>Siedziba: Gęsia 8 / 205, 31-535 Kraków</p>
                    <p>+48 795 761 031</p>
                    <p>info@fargoservice.pl</p>

                </div>
                <div class="footer-social">
                    <h4>Социальные сети</h4>
                    <ul>
                        <li><a class="plain" href="https://www.instagram.com/fargo_service/" target="_blank" rel="noopener noreferrer"><img style="left: -8px;" src="{% static 'images/Group 2.png' %}" class="socials"><span>Instagram</span></a></li>
                        <li><a class="plain" href="https://www.facebook.com/profile.php?id=100090271071737"  target="_blank" rel="noopener noreferrer"><img style="left: -8px;" src="{% static 'images/bxl-facebook.png' %}" class="socials"><span>Facebook</span></a></li>
                        <li><a class="plain" href="https://t.me/FargoConsultBot" target="_blank" rel="noopener noreferrer"><img style="left: -8px;" src="{% static 'images/bxl-telegram.png' %}" class="socials"><span>Telegram</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2023 Fargo Service sp. z. o. o. All Rights Reserved.</p>
            </div>
        </footer>
    </div>
    <script src="{% static 'script.js' %}"></script>
    <script>AOS.init();</script>
</body>
</html>