{% extends 'index.html' %}
{% load static i18n bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block forms %}
    <form method="POST" onsubmit="alert('{% translate "Ваши данные успешно отправлены! Ожидайте." %}');">
        {% csrf_token %}
        {% bootstrap_form form layout='inline'%}
        {% buttons %}
            <button id="submit">
               <img class="submit" src="{% static 'images/Group 10.png' %}">
            </button>
        {% endbuttons %}
    </form>
{% endblock %}